@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Josefin+Sans:ital,wght@1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    overflow: hidden;
    background:#130591;
    height: 200px;
}

#contenedor-cabecera{
    background:#130591;
    margin: auto;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
}

#buscador{
    height: 70px;
    width: 33.3%;
    padding: 20px;
    font-size: 35px;
}

img{
    background:#130591;
    width: 35%;
}

#contenedor-logo{
    display:flex;
    justify-content: center;
    background:#130591;
    width:33.3%;
    height:100%;
}

#menu{
    background:#130591;
    display: flex;
    font-size: 35px;
}

#Menu-container{
    display: flex;
    justify-content: center;
    /* border: 2px solid red */;
    width: 33.3%;
}
.item{
    width:135px;
    list-style: none;
    /* border: 2px solid rgb(255, 0, 0); */
}
