*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

iframe{
    width: 100%;
}

header{
    background: #0d6efd;
}



#cabecera-menu{
    width:60%;
    margin: auto;
    justify-content: space-between;
}

#jumbo{
    padding: 30px;
    margin-bottom: 25px;
    background: #eee;
}

#profiles-container{
    justify-content: center;
}

#cardM{
    width:300px;
    min-height: 390px;
}

#cardA{
    width:300px
}

#cardM img, #cardA img{
    display:block;
    margin: 0px auto;
    margin-top: 15px;
}

#cardA, #cardM{
    margin-bottom: 60px;
}

.articulo img{
    display:block;
    margin: 0px auto;
}



.nav-item {
    margin: 0px 15px;
}

.col-sm-4{
    margin-bottom: 25px;
}

.profiles{
    margin-top: 60px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #cardM:hover, #cardA:hover{
        width: 350px;
        box-shadow: 1px 2px 50px rgb(221, 221, 221);
        transition-property: width;
        transition-duration: 1s;
    }
}