*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

iframe{
    width: 100%;
}

header{
    background: #0d6efd;
}



#cabecera-menu{
    width:60%;
    margin: auto;
    justify-content: space-between;
}

#jumbo{
    padding: 30px;
    margin-bottom: 25px;
    background: #eee;
}

#novedad img{
    display:block;
    margin: 0px auto;
}

.nav-item {
    margin: 0px 15px;
}

.col-sm-4{
    margin-bottom: 25px;
}
